@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.font-raleway{
  font-family: "Raleway", sans-serif;
 
}
.banner{
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#second-part{
  border: 1px solid;
  padding: 20px;
  height: 100vh;
}





